<p>salesperson-system works!</p>
<mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Baic Info
        </mat-panel-title>
        <mat-panel-description>
          Input Trip Information
          <mat-icon>info</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div layout="row">
        <!-- appearance="outline" -->
      <mat-form-field>
        <mat-label>Trip Locator</mat-label>
        <input matInput type="text" placeholder="Trip Locator" [(ngModel)]="form.basic_info.locator">
        <button mat-button *ngIf="form.locator" matSuffix mat-icon-button aria-label="Clear" (click)="form.locator=''">
          <mat-icon>close</mat-icon>
        </button>
        <!-- <input  outlined matInput placeholder="Trip Locator"> -->
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ticketing Date</mat-label>
        <input matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" readonly>
      </mat-form-field>
      <mat-datepicker #picker></mat-datepicker>

      <mat-form-field>
          <mat-label>Add-on Remark</mat-label>
          <input matInput placeholder="Remark">
        </mat-form-field>

      <mat-radio-group aria-label="Type" class="example-radio-group">
        <mat-radio-button value="1" class="example-radio-button">Indiv</mat-radio-button>
        <mat-radio-button value="2" class="example-radio-button">Group</mat-radio-button>
      </mat-radio-group>
      </div>
  
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Itineray Info
        </mat-panel-title>
        <mat-panel-description>
          Input Trip Itineray
          <mat-icon>card_travel</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  <div *ngFor="let item of form.itineray_info.itineray; let index = index">
   <div layout="row">
      <mat-form-field>
          <mat-label>Airline</mat-label>
          <input matInput placeholder="Airline" [(ngModel)]="item.airline">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Flight No.</mat-label>
            <input matInput placeholder="Flight No." [(ngModel)] = "item.flightNo">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Flight Date</mat-label>
            <input matInput placeholder="Flight Date" [(ngModel)] = "item.fligthtDate">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Travel Between Airports</mat-label>
            <input matInput placeholder="From-To" [(ngModel)] = "item.airport">
        </mat-form-field>
        <mat-icon class="icon-btn" *ngIf="index === form.itineray_info.itineray.length - 1" (click)="form.itineray_info.itineray.push(initialItineray)">add_circle_outline</mat-icon>
        <mat-icon class="icon-btn" *ngIf="index === form.itineray_info.itineray.length - 1"(click)="form.itineray_info.itineray.pop()">delete_outline</mat-icon>
   </div>
  </div>
  
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Payment Info
        </mat-panel-title>
        <mat-panel-description>
          Input payment method and amount
          <mat-icon>payment</mat-icon>
        </mat-panel-description>

      </mat-expansion-panel-header>
      <mat-form-field>
          <mat-label>Wholesaler</mat-label>
          <mat-select [formControl]="wholesalerControl" required ([value])="form.payment_info.base_payment.wholesaler">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let wholesaler of wholesalerList" [value]="form.payment_info.base_payment.wholesaler">
              {{wholesaler.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="wholesalerControl.hasError('required')">Wholesaler Info is required</mat-error>
          <mat-hint>{{wholesalerControl.id?.name}}</mat-hint>
        </mat-form-field>
      <mat-form-field>
          <mat-label>Base Payment Method</mat-label>
          <mat-select [formControl]="animalControl" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let animal of animals" [value]="animal">
              {{animal.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="animalControl.hasError('required')">Please choose a payment method</mat-error>
          <mat-hint>{{animalControl.value?.sound}}</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Base Price</mat-label>
            <mat-select [formControl]="animalControl" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let animal of animals" [value]="animal">
                {{animal.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="animalControl.hasError('required')">Please choose a payment method</mat-error>
            <mat-hint>{{animalControl.value?.sound}}</mat-hint>
          </mat-form-field>

          <mat-form-field>
              <mat-label>Location</mat-label>
              <mat-select [formControl]="animalControl" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let animal of animals" [value]="animal">
                  {{animal.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="animalControl.hasError('required')">Please choose a payment method</mat-error>
              <mat-hint>{{animalControl.value?.sound}}</mat-hint>
            </mat-form-field>

        <mat-divider style="border-top-color: rgb(109, 194, 166);margin: 20px;"></mat-divider>
        <mat-form-field>
            <mat-label>Payer Name</mat-label>
            <mat-select [formControl]="animalControl" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let animal of animals" [value]="animal">
                {{animal.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="animalControl.hasError('required')">Please choose a payment method</mat-error>
            <mat-hint>{{animalControl.value?.sound}}</mat-hint>
          </mat-form-field>
        <mat-form-field>
            <mat-label>Sell Payment Method</mat-label>
            <mat-select [formControl]="animalControl" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let animal of animals" [value]="animal">
                {{animal.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
            <mat-hint>{{animalControl.value?.sound}}</mat-hint>
          </mat-form-field>
          <mat-form-field>
              <mat-label>Sell Price</mat-label>
              <mat-select [formControl]="animalControl" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let animal of animals" [value]="animal">
                  {{animal.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="animalControl.hasError('required')">Please choose a payment method</mat-error>
              <mat-hint>{{animalControl.value?.sound}}</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Location</mat-label>
                <mat-select [formControl]="animalControl" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let animal of animals" [value]="animal">
                    {{animal.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="animalControl.hasError('required')">Please choose a payment method</mat-error>
                <mat-hint>{{animalControl.value?.sound}}</mat-hint>
              </mat-form-field>
      <!-- <mat-form-field>
        <input matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" readonly>
      </mat-form-field>
      <mat-datepicker #picker></mat-datepicker> -->
  
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>
  
  </mat-accordion>