.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}
mat-panel-title {
  /* background-color: antiquewhite; */
  color: cornflowerblue;
  font-size: 15px;
}

.panel-subtitle {
  font-size: 13px;
  color: #81c772;
}

.example-radio-group {
    /* display: flex; */
    /* flex-direction: column; */
    margin: 15px 0;
  }
  
.example-radio-button {
  margin: 5px;
}

.icon-btn {
  margin: 10px;
  display: row;
  margin-top: 5px;
  cursor: pointer;
}